.main {
  position: relative;
  width: 100vw;
  padding: 6px 1em;
  > :not(:first-child) {
    margin-top: 6px;
  }
}

.address_box {
  & span {
    text-decoration: underline;
  }
}

.address_box,
.office_hours_box,
.phone_box,
.site_box {
  display: flex;
  align-items: center;
  column-gap: 6px;
  cursor: pointer;
}

.phone_box {
  column-gap: 10px;
}
.office_hours_box {
  align-items: start;
}

.office_hours_inner_box {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.notification {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 160px;
  text-align: center;
  transform: translateX(-50%);
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.569);
  color: #f2f2f2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.show_notification {
  opacity: 1;
  visibility: visible;
}

.details {
  position: relative;
  transition: all 0.8s ease-out;
}

.feather_chevron {
  transition: transform 0.2s ease-out;
}

details[open] .feather_chevron {
  transform: rotate(-180deg);
}

.summary {
  list-style: none;
}

.closed_day {
  color: rgb(210, 0, 0) d;
}
