.search_bar_box {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 32%;
  height: 48px;
  padding: 12px;
  border-bottom: 1px solid #dedede;
  background-color: white;
  z-index: 9999;
}

.inner_box {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  column-gap: 4px;
  border-radius: 6px;
  background-color: #dedede;
}

.search_bar_input {
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 6px 12px;
  outline: none;
  &:focus {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}
.search_bar_icon {
  font-size: 16px;
}
