.main {
  position: relative;
  width: 100vw;
  padding-bottom: 40px;
}

.info_box {
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  transform: translateY(-10px);
  padding-top: 18px;
  z-index: 20;
}

.title_header,
.description_section,
.recommend_section {
  padding: 0 1rem;
}

.description_section,
.recommend_section {
  margin-top: 10px;
  padding-bottom: 6px;
}

.title {
  margin-block-start: auto;
  margin-block-end: auto;
  font-weight: normal;
  font-size: 1.6em;
}

.cutline {
  width: 94vw;
  height: 1px;
  background-color: #ccc;
  margin: 10px auto;
}

.title_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description_section,
.beer_figure {
  & p {
    font-size: 14px;
    color: #473f3f;
    margin: 0;
  }
}

.beer_title_box {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.beer_recommendation {
  color: #ffa800;
}

.beer_name {
  margin: 2px 0;
  font-weight: normal;
  color: #6a2008;
  font-size: 18px;
}
